*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
}


/* Start of the Navigation bar */
.navigationbar{
    width: 100vw;
    height: 10vh;
    background-color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.navlogo img{
    width: 50px;
    height: 50px;
    background-color: blue;
}

.navanchours nav a{
    color: black;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    margin-right: 30px;
}

.navbtn button{
    width: 150px;
    height: 50px;
    background-color: blue;
    border-radius: 20px;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    border: none;
}
/* End of the navigation bar */

/* Start of the Hero section */
.herosection{
    width: 100vw;
    height: 100vh;
    background-color: white;
    display: flex;
    justify-content: center;
}

.herocontent{
    width: 95%;
    height: 100%;
    background: linear-gradient(130deg, rgb(228, 240, 245), rgb(0, 132, 255));
    display: flex;
    justify-content: space-between;
    border-radius: 20px;
}

.heroinfo{
    width: 600px;
    height: 630px;
    margin-left: 40px;
}

.heroinfo1 h1{
    font-size: 60px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
    margin-top: 100px;
}

.heroinfo1 h1 span{
    color: navy;
}

.heroinfo1 p{
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.herobtn{
    margin-top: 20px;
}

.herobtn button{
    width: 150px;
    height: 45px;
    background-color: transparent;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    border-radius: 20px;
    margin-right: 20px;
}

.herobtn .herobtn1{
    background-color: blue;
    border: none;
    color: white;
}

.heroinfo2images{
    display: grid;
    grid-template-columns: repeat(5,30px);
    margin-top: 20px;
}

.heroinfo2images img{
    width: 50px;
    height: 50px;
    background-color: white;
    border: 3px solid black;
    border-radius: 50%;
}

.heroinfo2 p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    margin-top: 2px;
}

.heroimage{
    width: 600px;
    height: 630px;
    background-color: black;
    margin-right: 40px;
}
/* End of the Hero Section */

/* Start of the Services Section */
.servicesection{
    width: 100vw;
    height: 100vh;
    background-color: white;
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.servicescontent{
    width: 95%;
    height: 100%;
    background-color: white;
}

.servicescontent h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 60px;
    color: navy;
    text-align: center;
}

.servicescontent .serviceparagraph{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    color: black;
    text-align: center;
}

.servicescards{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.servicescards .card{
    width: 200px;
    height: 200px;
    background-color:  rgb(154, 220, 250);
    border-radius: 20px;
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card img{
    width: 100px;
    height: 100px;
    background-color: white;
    border-radius: 50%;
}

.card p{
    margin-top: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    font-weight: 700;
}

.servicesinfo{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.serviceinfo1 p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    color: rgb(17, 17, 51);
    font-weight: 700;
    margin-top: 15px;
}

.serviceinfo1 ul{
    margin-left: 20px;
    margin-top: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    font-weight: 400;
}

.serviceinfo1 button{
    width: 150px;
    height: 40px;
    background-color: blue;
    color: white;
    font-weight: 500;
    margin-top: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    border: none;
    border-radius: 5px;
}

.serviceinfoimage img{
    width: 500px;
    height: 401px;
    background-color:  rgb(154, 220, 250);
}
/* End of the Services Section */

/* Start of the Doctor`s Working Days Section */
.doctorsworkingsection{
    width: 100vw;
    min-height: 100vh;
    background-color: white;
    display: flex;
    justify-content: center;
}

.doctorsworkingcontent{
    width: 95%;
    height: 100%;
    background-color: white;
}

.doctorsworkingcontent h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 60px;
    color: navy;
    text-align: center;
    margin-top: 80px;
}

.doctorsworkingcontent p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    color: black;
    text-align: center;
}

.doctorstable{
    width: 80%;
    margin-top: 30px;
    border-collapse: collapse;
    margin-left: 140px;
    box-shadow: 0px 0px 20px  rgb(154, 220, 250);
}

th{
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 25px;
    font-weight: 700;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
    border: 2px solid black;
}

td{
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    font-weight: 400;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 18px;
    padding-left: 18px;
    text-align: left;
    border: 2px solid black;
}
/* End of the Doctor`s Working Days Section */

/* Start of the Doctor`s Section */
.doctorsection{
    min-width: 100vw;
    min-height: 100vh;
    background-color: white;
    display: flex;
    justify-content: center;
}

.doctorcontent{
    width: 95%;
    height: 100%;
    background-color: white;
}

.doctorcontent h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 60px;
    color: navy;
    text-align: center;
    margin-top: 70px;
}

.doctorcontent .doctorcomment{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    color: black;
    text-align: center;
}

.doctorimages{
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

.doctorcard{
    width: 300px;
    height: 500px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
}

.doctorcard img{
    width: 300px;
    height: 400px;
    background-color: rgb(154, 220, 250);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.doctorcard p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    color: black;
    margin-top: 3px;
    font-weight: 500;
}

.doctorcard h4{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    color: black;
    font-weight: 300;
}
/* End of the Doctor`s Section */

/* Start of the Comment Section */
.commentsection{
    width: 100vw;
    height: 100vh;
    background-color: red;
    display: flex;
    justify-content: center;
}

.commentcomments{
    width: 95%;
    height: 100%;
    background-color: blue;
}

.commentcomments h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 60px;
    color: navy;
    text-align: center;
}

.commentcomments .commentdetails{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    color: black;
    text-align: center;
}

.commentcards{
    display: flex;
    justify-content: space-between;
}

.commentcard1{
    width: 460px;
    height: 400px;
    background-color: pink;
}

.cardcontent{
    display: flex;
}

.cardcontent img{
    width: 100px;
    height: 100px;
    background-color: purple;
    border-radius: 50%;
}

.cardcontenttext{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 5px;
    fontfam
}

/* Start of the Footer Section */
/* .footersection{
    width: 100vw;
    height: 70%;
    background-color: rgb(35, 65, 128);
}

.firstfooterinfo{
    display: flex;
    justify-content: space-around;
}

.footerinfoone h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 60px;
    color: white;
    font-weight: 600;
    text-align: center;
}

.footerinfoone p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    color: white;
}

.footerinfoone button{
    width: 180px;
    height: 40px;
    border-radius: 18px;
    border: 2px solid white;
    background-color: rgb(23, 199, 199);
    margin-top: 20px;
    margin-left: 50px;
    color: white;
    font-weight: 600;
}

.footerinfotwo h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 60px;
    color: white;
    font-weight: 600;
    text-align: center;
}


.footerinfotwo nav{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.footerinfotwo nav a{
    color: white;
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.footerinfotwoimages img{
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 50%;
    margin-right: 10px;
    margin-top: 10px;
}

.secondfooterinfo{
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin-top: 15px;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
}

.lastfooterinfo{
    width: 100vw;
    height: 5vh;
    background-color: rgb(23, 199, 199);
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 0px 50px;
    font-size: 16px;
    margin-top: 20px;
    border-top: 2px solid white;
}

.lastfooterinfo h4{
    font-weight: 400;
}

.lastfooterinfo h3{
    font-weight: 500;
} */
/* End of the Footer section */